                body {
                  padding: 0;
                  margin: 0;
                  font-family: 'Montserrat', sans-serif;
                }
                
                .topnav {
                    top: 0%;
              right: 0%;
              overflow: hidden;
              background-color: #6f6986;
              position: fixed;
              width: 100%;
                }
                
                .topnav a {
                  float: left;
                  color: #f2f2f2;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
                  font-size: 17px;
                }
                
                .topnav a:hover {
                  background-color: #eeeaf5;
                  color: black;
                }
                
                .topnav a.active {
                  background-color: #7771a2 ;
                  color: white;
                }
                .topnav{
                    display: flex;
                }
                .words{
                    margin-top: 13px;
                }
                h1{
                    margin-top: 3cm;
                    margin-left: 5cm;
                    color:whitesmoke
                }
                .tab{
                    margin-top: 2cm;
                }
                .popup01{
                    width: 400px;
                    background: #9453a3;
                    border-radius: 20px;
                    position: fixed;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.01);
                    text-align: center;
                    padding: 0 30px 30px;
                    visibility: hidden;
                    transition: transform 0.4s, top 0.4s;
                    /* transition-delay: 0.25s; */
                }
                .popup02{
                    width: 400px;
                    background: #9453a3;
                    border-radius: 20px;
                    position: fixed;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.01);
                    text-align: center;
                    padding: 0 30px 30px;
                    visibility: hidden;
                    transition: transform 0.4s, top 0.4s;
                    /* transition-delay: 0.25s; */
                }
                .popup03{
                    width: 400px;
                    background: #9453a3;
                    border-radius: 20px;
                    position: fixed;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.01);
                    text-align: center;
                    padding: 0 30px 30px;
                    visibility: hidden;
                    transition: transform 0.4s, top 0.4s;
                    /* transition-delay: 0.25s; */
                }
                .popup01 img{
                    width: 100px;
                    
                }
                .popup01 h2{
                    font-size: 38px;
                    font-weight: 600;
                    margin: 30px 0 10px;
                }
                .popup01 p{
                    font-weight: 400;
                }
                .popup01 button{
                    width: 100%;
                    margin-top: 50px;
                    padding: 10px 0;
                    background: #ac3e9f;
                    color: whitesmoke;
                    border: 0;
                    outline: none;
                    font-size: 18px;
                    border-radius: 100px;
                    cursor: pointer;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                }
                .popup02 img{
                    width: 200px;
                    margin-top: 2cm;
                    
                }
                .popup02 h2{
                    font-size: 38px;
                    font-weight: 600;
                    margin: 30px 0 10px;
                }
                .popup02 p{
                    font-weight: 400;
                }
                .popup02 button{
                    width: 100%;
                    margin-top: 50px;
                    padding: 10px 0;
                    background: #ac3e9f;
                    color: whitesmoke;
                    border: 0;
                    outline: none;
                    font-size: 18px;
                    border-radius: 100px;
                    cursor: pointer;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                }
                .popup03 h1{
                    font-weight: 800;
                    margin: 60px 0 10px;
                    
                }
                .popup03 h2{
                    font-size: 38px;
                    font-weight: 600;
                    margin: 30px 0 10px;
                }
                .popup03 p{
                    font-weight: 400;
                }
                .popup03 button{
                    width: 100%;
                    margin-top: 50px;
                    padding: 10px 0;
                    background: #ac3e9f;
                    color: whitesmoke;
                    border: 0;
                    outline: none;
                    font-size: 18px;
                    border-radius: 100px;
                    cursor: pointer;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                }
                .open-popup01{
                    visibility: visible;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    transition-delay: 0.25s;

                }
                .open-popup02{
                    visibility: visible;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    transition-delay: 0.25s;

                }
                .open-popup03{
                    visibility: visible;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    transition-delay: 0.25s;

                }
                .open-body{
                    background: rgba(59, 16, 83, 0.890);
                    background-size: cover; 
                    background-blend-mode: darken;
                }
                button{
                    background-color: #a28fcf;
                    border-width: 0;
                }